@model Invest.WebApp.Models.CurrencyViewModel
@{
	Layout = null;
	ViewData["Title"] = "Cache";
}

<style>
    .page-cur {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 50% 50%;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
        align-content: flex-start;
        grid-template-areas: "a b" "a c" "a d" "a e";
        justify-content: flex-start;
    }
    .divs-area {
        padding: 0;
    }

    .page-cur .tbl-usdrur TD {
	    padding: 3px;
	    border-bottom: 1px solid silver;
	    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	    font-size: 11px;
	    padding-left: 4px;
	    padding-right: 4px;
    }

    .page-cur .tbl-g .td-head {
	    font-weight: bold !important;
	    padding-top: 18px !important;
    }

    .page-cur .tbl-g TR:hover td {
	    background-color: #e8edff;
    }

    .tbl-g caption {
        text-align: left;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    .tbl-usdrur .cur-caption {
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        padding: 4px;
        padding-top: 10px;
        text-transform: uppercase;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    .tbl-usdrur .acc-caption {
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 4px;
        padding-top: 14px;
        font-weight: 400;
    }

    .tbl-usdrur .td-date {
        font-size: 12px;
    }
    .tbl-usdrur .td-qty {
        font-size: 12px;
    }
    .tbl-usdrur .td-sell {
        font-size: 12px;
        text-align: right;
    }
    .tbl-usdrur .td-comm {
        font-size: 12px;
        text-align: right;
        color: grey;
    }

    .tbl-usdrur .td-buy {
        font-size: 12px;
        text-align: right;
        color: green;
    }
    .tbl-usdrur .td-acc {
        font-size: 12px;
        text-align: center;
        color: black;
    }
    .tbl-usdrur .td-pofit {
        font-size: 12px;
        text-align: right;
        color: navy;
    }
    .tbl-usdrur .td-nalog {
        font-size: 12px;
        text-align: right;
        color: darkorange;
    }
    .tbl-usdrur .td-total {
        font-size: 12px;
        text-align: right;
        font-weight: bold;
        background-color: rgb(185, 227, 100);
    }
</style>

<div class="page-bonds">
    <div class="divs-area" style="grid-area: a">
        <table class="tbl-usdrur">
        @foreach (var cur in Model.Currencies)
		{
		    decimal totalCurProfit = 0, totalCurNalog = 0;
		    <tr>
                <td colspan="8" class="cur-caption">@cur</td>
            </tr>

		    foreach (var va in Model.VirtualAccounts)
		    {
		        if (!Model.Items.Any(x => x.Cur == cur && x.VAccount == va)) { continue; }

                decimal totalProfit = 0;

		        <tr>
                    <td class="acc-caption">>></td>
                    <td colspan="9" class="acc-caption">@va.Name (@va.Id)</td>
                </tr>
		        <tr>
                    <th>Date</th>
                    <th>Date</th>
                    <th>Qty</th>
                    <th>Summa</th>
                    <th>Com.</th>
                    <th>.</th>
                    <th>.</th>
                    <th>profit</th>
                    <th>profit - comm</th>
                    <th>13%</th>
                </tr>

				foreach (var item in Model.Items.Where(x => x.Cur == cur && x.VAccount == va))
				{
					var profit = item.SellOperation.Summa.Value - item.BuyOperations.Sum(x => x.Qty * x.BuyOperation.Price.Value);
					if (profit > 0) {
						totalProfit += profit;
					    totalCurProfit += profit;
					}

					var profitWithoutComm =
					    profit - item.SellOperation.Commission.Value - item.BuyOperations.Sum(x => x.BuyOperation.Commission.Value); // todo: 

					decimal nalog = 0;
					if (profit > 0) {
						nalog = profitWithoutComm * (decimal)0.13;
					    totalCurNalog += nalog;
					}

				    <tr>
                        <td class="td-acc">@($"{item.SellOperation.Account.Id}")</td>
                        <td class="td-date" title="@item.SellOperation.Date, @item.SellOperation.Comment, @item.SellOperation.TransId">@($"{item.SellOperation.DeliveryDate:dd.MM.yyyy}")</td>
                        <td class="td-qty" style="color: red">-@($"{item.Qty:N0}")</td>

                        <td class="td-sell">@($"{item.SellOperation.Summa:N2}")</td>
                        <td class="td-comm">@($"{item.SellOperation.Commission:N2}")</td>
                        <td class="td-qty">@($"{item.BuyOperations.Sum(x => x.Qty):N0}")</td>
                        <td class="td-buy">
                            @($"{item.BuyOperations.Sum(x => x.Qty * x.BuyOperation.Price):N2}")
                        </td>
                        <td class="td-pofit">@($"{profit:N2}")</td>
                        <td class="td-pofit">@($"{profitWithoutComm:N2}")</td>
                        <td class="td-nalog">@($"{nalog:N2}")</td>
                    </tr>

					if (item.BuyOperations.Any())
					{
						foreach (var b in item.BuyOperations)
						{
						    <tr>
                                <td colspan="10"></td>
                                <td>@($"{b.Qty:N0}")</td>
                                <td>@($"{b.BuyOperation.DeliveryDate:dd.MM.yyyy}")</td>
                                <td>@($"{b.BuyOperation.Qty:N0}")</td>
                                <td>@($"{b.BuyOperation.Summa:N2}")</td>
                                <td>@($"{b.BuyOperation.Price:N2}")</td>
                                <td>@($"{b.BuyOperation.Commission:N4}")</td>
                                <td>@($"{b.BuyOperation.Commission / b.BuyOperation.Qty * b.Qty:N4}")</td>
                            </tr>
						}
					}
				}

		        <tr>
                    <td colspan="8"></td>
                    <td class="td-total td-pofit">@($"{totalProfit:N2}")</td>
                    <td class="td-total td-nalog">@($"{totalProfit * (decimal)0.13:N2}")</td>
                </tr>
		    }
		    <tr>
                <td colspan="8">total:</td>
                <td class="td-total td-pofit">@($"{totalCurProfit:N2}")</td>
                <td class="td-total td-nalog">@($"{totalCurProfit * (decimal)0.13:N2}")</td>
            </tr>
		}
        </table>
    </div>
</div>