@model Invest.WebApp.Models.CacheViewModel
@using Invest.Core.Enums
@using Invest.WebApp
@using Invest.WebApp.Models
@{
	var a = Model.Account;
	var cur = Model.Cur;
    var key = new CacheViewModel.Item(cur, a);
}
<table class="tbl-usdrur-stat">
<tr>
    <th colspan="3" style="padding:6px; vertical-align:middle; text-align:left; background-color: azure;"><b>@a.Name (@a.BrokerName, @a.Id, [@cur])</b></th>
    <th>comm</th>
</tr>
<tr>
    @{
        var commB = Model.CurBuyOps[key].Sum(x => x.Commission);
        var commS = Model.CurSellOps[key].Sum(x => x.Commission);
    }
    <td>Buys:</td>
    <td>@($"{Model.CurBuyOps[key].Sum(x => x.Qty):N2}")</td>
    <td>@($"{Model.CurBuyOps[key].Sum(x => x.Summa):N2}")</td>
    <td class="td-comm">@($"{commB:N2}")</td>
</tr>
<tr>
    <td>Sells:</td>
    <td>@Util.GetSum(Model.CurSellOps[key].Sum(x => x.Qty), "-")</td>
    <td>@Util.GetSum(Model.CurSellOps[key].Sum(x => x.Summa), "-")</td>
    <td class="td-comm">@Util.GetSum(commS, "-")</td>
</tr>
<tr>
    <td>Buy rate:</td>
    <td>@($"{Model.CurBuyOps[key].Min(x => x.Price):N4}")</td>
    <td>
        @if (Model.CurBuyOps[key].Any()) {
            <span>@($"{Model.CurBuyOps[key].Sum(x => x.Price * x.Qty) / Model.CurBuyOps[key].Sum(x => x.Qty):N4}")</span>
        }
    </td>
    <td>@($"{Model.CurBuyOps[key].Max(x => x.Price):N4}")</td>
</tr>
<tr>
    <td>Sell rate:</td>
    <td>@($"{Model.CurSellOps[key].Min(x => x.Price):N4}")</td>
    <td>
        @if (Model.CurSellOps[key].Any())
        {
            <span>@($"{Model.CurSellOps[key].Sum(x => x.Price * x.Qty) / Model.CurSellOps[key].Sum(x => x.Qty):N4}")</span>
        }
    </td>
    <td>@($"{Model.CurSellOps[key].Max(x => x.Price):N4}")</td>
</tr>

<tr>
    <td>buys A:</td>
    <td>@($"{Model.BuysOps[key].Sum(x => x.Qty * x.Price):N2}")</td>
    <td>sells A:</td>
    <td>@($"{Model.SellOps[key].Sum(x => x.Qty * x.Price):N2}")</td>
    <td>saldo A:</td>
    <td>@($"{Model.SellOps[key].Sum(x => x.Qty * x.Price) - Model.BuysOps[key].Sum(x => x.Qty * x.Price):N2}")</td>
</tr>

<tr class="tr-comm">
    <td>b.comm:</td>
    <td>@($"{Model.BuysOps[key].Sum(x => x.Commission ?? 0m):N2}")</td>
    <td>s.comm:</td>
    <td>@($"{Model.SellOps[key].Sum(x => x.Commission ?? 0m):N2}")</td>
    <td>total:</td>
    <td>@($"{Model.BuysOps[key].Sum(x => x.Commission ?? 0m) + Model.SellOps[key].Sum(x => x.Commission ?? 0m):N4}")</td>
</tr>

<tr>
    <td>divs:</td>
    <td>@($"{Model.Divs[key].Sum(x => x.Summa):N2}")</td>
</tr>

<tr>
    <td>saldo:</td>
    <td class="td-usd-total">
        @{
            var total =
				Model.CurBuyOps[key].Sum(x => x.Qty)
				- Model.CurSellOps[key].Sum(x => x.Qty)
				- Model.BuysOps[key].Sum(x => x.Qty * x.Price)
				+ Model.SellOps[key].Sum(x => x.Qty * x.Price)
				- (Model.BuysOps[key].Sum(x => x.Commission ?? 0m) + Model.SellOps[key].Sum(x => x.Commission ?? 0m))
				- (a.Type == AccountType.VBr && cur == Currency.Usd ? 101 : 0) // out const
				+ Model.Divs[key].Sum(x => x.Summa)
			;
        }

        @($"{total:N2}")
    </td>
</tr>
</table>