@model Invest.WebApp.Models.OperationViewModel

<script>
    $(document).ready(function () {
        refreshTickers();
        //console.log("z:", LocalSetting.value(LocalSettingEnum.TickerFilterCurrency));
    });
</script>

<div class="div-tickers-filter" style="">
    <span onclick="setTickersCur(0)">All</span><span class="di">|</span>
    <span onclick="setTickersCur(@((int)Invest.Core.Enums.Currency.Rur))">rur</span>&nbsp;
    <span onclick="setTickersCur(@((int)Invest.Core.Enums.Currency.Usd))">usd</span>&nbsp;
    <span onclick="setTickersCur(@((int)Invest.Core.Enums.Currency.Eur))">eur</span>&nbsp;<span class="di">|</span>
    <div class="div-tickers-filter-zero">
        <span>Zero<input class="check-zero" id="checkTickersZero" type="checkbox" /></span>
    </div>
    <span class="di">|</span>
    <span onclick="setTickersType(@((int)Invest.Core.Enums.StockType.Bond))">Bd</span>&nbsp;
    <span onclick="setTickersType(@((int)Invest.Core.Enums.StockType.Share))">Sh</span>&nbsp;
    <span onclick="setTickersType(@((int)Invest.Core.Enums.StockType.ETF))">Etf</span>&nbsp;
</div>
<div id="divTickerList" class="div-tickers-list"></div>